/*GENERAL*/

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    display: grid;
    grid-template-rows: 1fr 11fr;
    max-height: 100%;
    height: 100vh;
}

/*HEADER*/

#header {
    grid-row-start : 1;
    grid-row-end : 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
   
}

#partOne, #partTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgAndLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgAndLogo img{
  transform: scaleX(-1);
}

#TextLogo{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    color: #489e88;
    margin-left: 20px;
}

.h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0 10px;
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
  }

#header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}


/*CONTENT HOME PAGE*/

#content {
    grid-row-start : 2;
    grid-row-end : 3;
    background-image : url(/tickethack/frontend/images/background.jpg);
    background-repeat:no-repeat;
    background-position: center center; 

}

#firstslogan {
    color: white;
    font-size: 45px;
    text-align: center;
}

#secondslogan {
    color: white;
    font-size: 25px;
    text-align: center;
}

#content-cards {
    display: flex;
    justify-content: space-around;
}

#datePicker{
    margin: 0;
    width: 90%;
    
}

#reservation{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    width: 20vw;
    height: 45vh;
    padding: 24px;
    
}



#searchbutton{
    border-radius: 5px;
    border: none;
    width: 100%;

}


input {
    background-color: rgb(241, 240, 240);
    border-color: rgb(241, 240, 240);
    border-radius: 5px;
    border: none;
    padding: 8px;
    margin: 2px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button {
    color: white;
    background-color: #489e88;
    text-align: center;
    border-radius: 3px;
    border-color: #489e88;
    height: 34px;
}

#result {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#initialresult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
}

.imageresult {
    height: 100px;
}

hr {
    width: 80%;
    border-top: 2px solid #489e88;
    size: 5;
}

.textresult {
    color: black;
    text-align: center;
}

#trainresult {
    border-radius: 3px;
    overflow-y: scroll;
}

.train{
    display: flex;
    background-color: #f5eeee;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    width: 17vw;
}

.cards-destinations-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}


.trajet{
    display: flex;
    align-items: center;
}

.travel_home, .hours_home, .price_home{
    margin: 0 5px;
}



.bookbutton{
    background-color: #489e88;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
}

.bookbutton:hover{
    background-color: white;
    color: #489e88;
    border: 1px solid #489e88;
    font-weight: 600;
    cursor: pointer;
    
}
@media (max-width: 900px) { 
    #header {
        flex-direction: column;
    }

    #content-cards {
        flex-direction: column;
        align-items: center;
    }

}

/*CONTENT CART PAGE*/

#body_Cart {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start : 2;
    grid-row-end : 3;
    background-color:rgb(236, 241, 239);
}

#body_booking {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start : 2;
    grid-row-end : 3;
    background-color:rgb(236, 241, 239);
}

#contentnocart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 18px;
    width: 70vw;
    font-weight: 500;
    border-radius: 8px;
    margin: auto;
    
}

#container_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 18px;
    text-align: center;
    width: 70vw;
    font-weight: 545;
    border-radius: 8px;
    margin: auto;
    justify-content: center;
    
}


#contentbookings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255);

}


.delete{
    background-color: #489e88;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1vw;
    height: 2vh;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.delete:hover{
    background-color: white;
    color: #489e88;
    border: 1px solid #489e88;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1vw;
    height: 2vh;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}  

.bookContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5eeee;
    width: 60vw;
    padding: 15px;
    border-radius: 8px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.purchase{
    background-color: #489e88;
    border: none;
    width: 5vw;
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 50px;
}


/*CONTENT BOOKINGS PAGE*/

#footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00153c;
    width: 100%;
    border-radius: 0 0 8px 8px;
    padding: 20px 0;

}

#total{
    color: white;
    padding-left: 50px;
}

#enjoy {
    color: #489e88;
    text-align: center;
    font-size: 15px;
}

#hr2 {
    width: 40%;
    border-top: 1px solid black;
    size: 2;
}

#finalbookings {
    display: flex;
    flex-direction: column;
    width: 70vw;
    border-radius: 5px;
    align-items: center;

}

#finalbookings > p:not(:last-child) {
    margin-right: 22px;
}
.booking_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5eeee;
    width: 60vw;
    padding: 15px;
    border-radius: 8px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}