/*GENERAL*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    display: grid;
    grid-template-rows: 1fr 11fr;
    max-height: 100%;
    height: 100vh;
}

/*HEADER*/

#header {
    grid-row-start : 1;
    grid-row-end : 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    color: teal;
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
  }

#header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

#header-buttons h2 {
    margin: 0 10px;
}

/*CONTENT HOME PAGE*/

#content {
    padding: 0 150px;
    grid-row-start : 2;
    grid-row-end : 3;
    background-image : url(/tickethack/frontend/images/background.jpg);
    background-repeat:no-repeat;
    background-position: center center; 
}

#firstslogan {
    color: white;
    font-size: 45px;
    text-align: center;
}

#secondslogan {
    color: white;
    font-size: 25px;
    text-align: center;
}

#content-cards {
    display: flex;
    justify-content: space-around;
}

.cards {
    width: 250px;
    height: 360px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 12px;
}

#reservation {
    margin-right: 10px;
}


.cards-destinations-input input {
    width: 100%;
}

input {
    background-color: rgb(241, 240, 240);
    border-color: rgb(241, 240, 240);
    height: 24px;
    border-radius: 3px;
}

button {
    color: white;
    background-color: teal;
    text-align: center;
    border-radius: 3px;
    border-color: teal;
    height: 34px;
}

#result {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#initialresult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
}

.imageresult {
    height: 100px;
}

hr {
    width: 80%;
    border-top: 2px solid teal;
    size: 5;
}

.textresult {
    color: black;
    text-align: center;
}

#trainresult {
    background-color: rgb(241, 240, 240);
    border-radius: 3px;
    max-width: 90%;
    overflow-y: scroll;
}

@media (max-width: 900px) { 
    #header {
        flex-direction: column;
    }

    #content-cards {
        flex-direction: column;
        align-items: center;
    }

    #reservation, #result {
        margin: 0;
        margin-bottom: 12px;
    }
}

/*CONTENT CART PAGE*/

/*CONTENT BOOKINGS PAGE*/